/*  your css code here. If applicable */
    table {
            border-collapse: separate;
            border-spacing: 8px;
        }
        th, td {
            padding: 8px;
            border: 2px solid #ccc;
            border-radius: 5px;
            text-align: center;
        }
        th {
            font-weight: bold;
            background-color: white;
        }
        td:nth-child(odd) {
            background-color: white;
        }
        td:nth-child(even) {
            background-color: #eee;
        }